
@{
    Layout="_Layout";
}
<form>
    <div>
        <input type="text" placeholder="E-Posta" id="Email" />
    </div>
    <div>
        <input type="password" placeholder="Şifre" id="Password" />
    </div>
    <div>
        <input type="button" value="Giriş yap" onclick="Page.User.Login.LoginButton();"/>
    </div>
</form>


