@{
    Layout = "_Layout";
}
<form>
    <input type="text" id="Name" placeholder="Adınız" />
    <br />
    <input type="text" id="Surname" placeholder="Soyadınız" />
    <br />
    <textarea id="Message" placeholder="Mesajınız..."></textarea>
    <br />
    <input type="button" value="Gonder" onclick="Page.Contact.Send();"/>

</form>

