@model List<Blog.Data.Models.Blog>

@{ 
    Layout = "_Layout";
}

<div>
    @{ 
        foreach (var blog in Model)
        {
            <div>
                <h4 a href="@Url.Action("Detail","Blog",new { id = blog.Id })" >@blog.Title</h4>
                <div|>
                    @blog.Content
                </div|>
                <div>
                    @blog.CreateDate.ToShortDateString() </div>
            </div>

        }

    }
</div>
