@{ 
    Layout = "_LayoutManage";
}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="E-posta" id="Email"/>
            </div>
            <div class="col-12">
                <input type="password" placeholder="Şifre" id="Password" />
            </div>
            <div class="col-12">
                <input type="button" value="Giriş Yap" onclick="Page.Manage.Login.Submit();"/>
            </div>
        </div>
    </div>
</div>
